
.horizontal-line-container{
    display: flex;
    justify-content: center;
}
.horizontal-line{
    // color: white;
    background-color: white;
    height: 5px;
    margin-bottom: 80px;
    width: 80%;
}